#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.menu_middle {
    width:200px;
    height:200px;
    float:left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 600px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 250px;
    width: 100px;
    height: 40px
}
 
/* 1. Background color for body */
body {
    background-color: darkblue;
}

/* 2 & 3. Style all h1 elements */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* 4 & 5. Style all h3 elements */
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* 6 & 7. Style all div elements */
div {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
