html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}

body {
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Center main UI */
#task,
#add,
#todos {
    margin: 10px auto;
}

/* Input styling */
input {
    padding-top: 30px;
    width: 100%;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus {
    outline: none;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

.remove {
    padding-bottom: 5px;
}

/* Footer styling */
footer {
    margin-top: auto; /* pushes footer to bottom */
    border-top: 2px solid #ccc;
    padding: 15px;
    font-size: 14px;
}
