/* This container includes our table and our canvas. */
.center-container {
    /* This property sets the width of our container. */
    width: 608px;
    /* This property centers our container. */
    margin: 0 auto;
    /* 50px down from the top. */
    margin-top: 50px;
    /* Allows the canvas to overlay relative to this container. */
    position: relative;
}

/* Center the page header */
h1 {
    text-align: center;
}

table {
    /* This property collapses table border into 1 border. */
    border-collapse: collapse;
    /* This hides outer borders on table. */
    border-style: hidden;
}

td {
    /* This property changes the cursor to the index finger hand when
       we hover over td elements. */
    cursor: pointer;
    /* This property sets our table border style. */
    border: 4px solid rgba(252, 169, 3, .8);
    /* This property removes default padding. */
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    font-weight: bold;
    color: white;

    /* Added to make X and O appear thicker */
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

canvas {
    /* This property sets the position of our canvas to the top left
       corner of our container. */
    position: absolute;
    top: 0;
    left: 0;
    /* This property places our canvas over the top of our table. */
    z-index: 10;
    /* This property makes our canvas invisible to mouse clicks. */
    pointer-events: none;
}
